body{
  padding: 3px 60px;
}

.header{
  padding: 30px 20px;

}

.header-logo{
  float:left;
  color:green;
  background-color: yellow;
  padding: 20px 30px;
}
.header-list li{
  float:left;
  list-style:none;
  padding: 10px 15px 10px 30px;

}
.main{
  padding:10px 10px;

}
.main p{
  padding:10px 10px;
  margin:10px 5px;

}
.main h1{
  font-size:35px;
  color:green;
  padding:5px 15px;
  border-bottom: 2px solid black;
}
.place {
margin:10px 10px;
}

.photo-icon {
  float:left;
  margin-left: 10px;
}
.photo-icon p{
  font-size:15px;
  margin-top:5px;
}
